
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    
}

.container{
    min-height: 100vh; 
    max-width: 100%;
    background-color: rgba(222, 184, 135, 0.719);
    justify-content: space-evenly;
    padding: 0 50px 0 50px;  

}

.section{
    max-width: 100%;
    min-height: 100vh;
    background-color:#f6f6f6; 
}


header{
    display: flex;
    padding: 10px;  
    gap: 30px;

} 
  
  /* FIRST  */

.main h1{
    font-size: 40px;
    display: flex;
    color:rgba(165, 42, 42, 0.678);
    font-family: "Poppins", sans-serif;
    margin: 15px;
    
}

.main-sp{
    color:rgba(0, 0, 255, 0.575);
    text-transform: uppercase;
   
}

   /* NAVIGATION LIST */
.navbar{

padding: 20px ;
padding-left: 20rem;

}

ul{
    font-size: 22px;
    gap: 50px;
    display: flex;
    list-style: none;
    
    
}
li{
  
    color: rgba(42, 42, 116, 0.89);

}

  /* LOGIN & SIGN UP */

 .signing{
    text-transform: uppercase;
    color: rgba(8, 8, 51, 0.822);
    display: flex;
    gap:30px;
    padding-left: 20rem;
   
 }

 .signing h1{
    margin: 20px;
 }

 .signing h2{
    margin: 15px;
    border: 3px solid rgba(18, 89, 221, 0.918);
    border-radius: 30px;
     width: 120px;
     padding: 0.1rem;
     height: 40px;
    text-align: center;
}

     /* paragraph */

.bids{
    display: flex;
    gap:200px;
    margin-left: 30px;
}


img{
    margin-top: 140px;
    width:750px ;
    height: 500px;
    border-radius: 800px 800px 0 0 ;

}

.prg{
    padding-top: 50px;
    display: flex;
    margin-bottom: 30px;
   

}
.prg p{
    font-family: "Roboto", sans-serif;
    color: rgba(165, 42, 42, 0.678);
    font-size: 70px;
    font-weight: 1000;

}
.prg .logo{
    color: rgba(4, 31, 82, 0.918);

}

     /* BUTTON */

.btn{

    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
   

}

button{
   
    padding: 15px;
    color: #f6f6f6;
    background-color: blue;
    border: none;
    font-size: 20px;
    width: 150px;    
}

button i{
    padding-left: 15px;
}

.fa-play-circle{
    color: rgba(165, 42, 42, 0.678); 
    font-size: 30px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
 
}
 .btn h1{
    color: rgba(0, 0, 255, 0.644);
    margin: 15px;
 }

 .followers{
    gap: 20px;
    font-family:"Poppins", sans-serif;
    display: flex;
    margin-bottom: 30px;
   
 }
 .followers h1{
    text-align: center;
    width: 120px;
    margin: 2px;
    border-radius: 15px;
    background-color:#fff;
    color: rgba(16, 16, 68, 0.664);
 }

 .followers h2{
    text-align: center;
    width: 120px;
    margin: 2px;
    border-radius: 15px;
    background-color:#fff;
    color:  rgba(165, 42, 42, 0.678); 
 }

 .followers h3{
   font-size: 25px;
    text-align: center;
    width: 120px;
    margin: 2px;
    border-radius: 15px;
    background-color:#fff;
    color:  rgba(165, 42, 42, 0.678); 
 }
  
 .Lorem{
    padding-top: 40px;
    display: flex;
 }

 .Lorem p{
    color: rgba(16, 16, 68, 0.596) ;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
 }
 .bottom{
    margin-top: 90px;
 }
 .bottom i{
    font-size: 20px;
    align-self: flex-end;
    border: black;
    border-radius: 50%;
    color: #fff;
    background-color: blue;
    padding: 17px;
    margin-left: 800px;
   
 }
 
 @media screen and (max-width: 1231px)
 {
    .container{
       min-height:100vh;
       min-width: 1500px;
    }

    header{  
        gap: 20px;
    
    } 

    .navbar{

        padding-left: 120px ;
        padding-right: 0;
        
        }

      ul{
        font-size: 18px;
        gap: 30px;
        font-weight: 800;
      }  

      .bids{
        display: flex;
        gap:150px;
        margin-left: 30px;
    }
    
      img{
        margin-top: 140px;
        width:700px ;
        height: 500px;
        border-radius: 800px 800px 0 0 ;
    
    }
 } 


 






 



    